{:port "3500"
 :db-spec {:classname "org.postgresql.Driver"
              :subprotocol "postgresql"
              :subname "//localhost:5432/lunch"
              :user "lunch"}
 :file-storage {:type "local" :path "/var/lib/lunch"}
 }
