{:port "3500"
 :db-spec {:maximum-pool-size  3
           :adapter            "postgresql"
           :username           "lunch"
           :database-name      "lunch"
           :server-name        "localhost"
           :port-number        5432}
 :file-storage {:type "local" :path "/var/lib/lunch"}
 }
